IssuesController#index
<h1>List of Issues</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Date Started</th>
  </tr>

  <% @issues.each do |issue| %>
    <tr>
      <td>
        <%= issue.issue_name %>
      </td>
      <td>
        <%= issue.date_started %>
      </td>
      <td>
        <h5>
          <%= link_to "Edit Issue", edit_issue_path(issue)%>
        </h5>
      </td>
      <td>
        <h5>
          <%= link_to 'Delete Issue', issue, method: :delete %>
        </h5>
        </h5>
      </td>

    </tr>
    <% end %>
</table>
<!-- I need a button here that will allow the user to add a new issue. -->

