I guess this is where my list of issues for my current user would go. IssuesController#index
<h1>SURPRISE!</h1>

I need a button here that will allow the user to add a new issue.

Needs to hit this action issues#new