MedicationsController#index
<h1>List of Medication</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Date Started</th>
  </tr>

  <% @medications.each do |medication| %>
    <tr>
      <td>
        <%= medication.medication_name %>
      </td>

    </tr>
    <% end %>
</table>

